:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --color-balck: #000000;
  --color-white: #ffffff;
  --main-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .container {
  padding: 118px 60px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 36px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo_header {
  color: var(--color-balck);
}

.logo_footer {
  color: var(--color-white);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
  }
}

.social-links {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.social-links__item {
  align-items: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.social-links__link:focus, .social-links__link:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.social-links__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.social-links__link:focus .social-links__icon,
.social-links__link:hover .social-links__icon {
  fill: var(--color-white);
}

@media screen and (min-width: 768px) {
  .social-links-container {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .social-links-container {
    margin-left: 0;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);
  display: block;
  padding: 6px 22px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btm:hover, .filter__btm:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--color-white);
}

.adress {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;
}

.adress__name {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 9px;
}

.adress__mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-bottom: 9px;
}

.adress__phone-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .adress {
    margin-bottom: 0;
  }
}

.subscription {
  margin-top: 60px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__wraper {
  position: relative;
}

.subscription__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 20px;
}

.subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: none;
  width: 358px;
  padding: 15px 16px;
  color: var(--color-white);
}

.subscription__btn {
  margin-top: 20px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 0 10px 29px;
  border: none;
  min-width: 200px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__btn:hover {
  background: #188ce8;
  cursor: pointer;
}

.subscription__icon {
  margin-left: 10px;
}

.subscription::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .adress-and-social-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 0;
    margin-left: 93px;
  }
  .subscription__form {
    flex-direction: row;
  }
  .subscription__btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  min-width: 480px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background: #ffffff;
  padding: 40px;
}

.modal__form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal__close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-btn-icon {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 55px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-btn:hover, .modal__form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal__form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-message {
  width: 100%;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-link {
  color: var(--accent-color);
}

.modal__form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message:focus {
  border-color: var(--accent-color);
}

.modal__form-check-desc {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  margin-top: 20px;
}

.modal__form-check-desc:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
}

.modal__form-term:focus + .modal__form-check-desc::before {
  box-shadow: 0 0 0 0.5px black;
}

.modal__form-term:checked + .modal__form-check-desc::before {
  background-image: url("../images/svg/icon check.svg");
  background-position: center;
  outline: none;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__close-btn:hover .modal__close-btn-icon,
.modal__close-btn:focus .modal__close-btn-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0 auto;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 40px 48px;
  transform: translateY(-110%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu__close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:focus .mobile-menu__close-btn-icon {
  fill: #2196f3;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__phone {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-social {
  margin-top: 64px;
}

.mobile-menu-social__list {
  flex-wrap: wrap;
  display: flex;
}

.mobile-menu-social__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-social__link:not(:last-child) {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.menu {
  display: none;
}

.contacts {
  display: none;
}

.mobile-menu-btn {
  border: none;
  background-color: transparent;
}

.header {
  min-width: 480px;
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .menu__link:focus, .menu__link:hover {
    color: var(--accent-color);
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts__mail-link, .contacts__phone-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__mail-link:hover, .contacts__mail-link:focus, .contacts__phone-link:hover, .contacts__phone-link:focus {
    color: #2196f3;
  }
  .contacts__mail-link {
    margin-bottom: 10px;
  }
  .contacts__icon-envelope {
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__mail-link:hover .contacts__icon-envelope,
  .contacts__mail-link:focus .contacts__icon-envelope {
    fill: #2196f3;
  }
  .contacts__icon-Vector {
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__phone-link:hover .contacts__icon-Vector,
  .contacts__phone-link:focus .contacts__icon-Vector {
    fill: #2196f3;
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background-color: var(--accent-color);
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
  }
  .contacts {
    display: flex;
  }
  .contacts__mail-link {
    margin: 0;
    margin-right: 30px;
  }
}

.hero {
  min-width: 480px;
  margin: 0 auto;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--color-white);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}

.hero__btn:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
  .hero__title {
    margin: 0 auto;
    width: 360px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__svg-container {
  margin-bottom: 30px;
  max-width: 450px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 190px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .features__title {
    text-align: start;
  }
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .features__svg-container {
    background: #f5f4fa;
    border-radius: 4px;
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 47px;
    padding-top: 94px;
  }
  .features__item {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
  .features__svg-container {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .abilities {
    display: none;
  }
}

.abilities {
  padding-top: 47px;
  padding-bottom: 94px;
}

.abilities__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.abilities__item {
  flex-basis: calc(100% / 3 - -30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.abilities__item-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.abilities__item-label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.team {
  min-width: 480px;
  background-color: #f5f4fa;
  padding: 60px 0 60px 0;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team__list-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list {
  flex-wrap: wrap;
  display: flex;
}

.team__item {
  margin: 0 auto;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__img {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .team__img {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0 94px 0;
  }
  .team__img {
    max-width: 270px;
  }
  .team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.customers {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers__list {
  display: flex;
  margin-top: 30px;
  min-width: 480px;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

.customers__link:focus, .customers__link:hover {
  border-color: var(--accent-color);
}

.customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:focus .customers__icon,
.customers__link:hover .customers__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers__item {
    border-top: 0;
    margin-left: 0;
    flex-basis: calc(100% / 6 - 30px);
  }
  .customers__item:not(:last-child) {
    margin-right: 30px;
  }
  .customers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 36px;
  }
  .customers__list {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

.footer {
  min-width: 480px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-social-list-icon {
  fill: var(--color-white);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background: var(--accent-color);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links {
  display: flex;
  margin-top: 20px;
}

.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (min-width: 1200px) {
  .social-links-container {
    margin-left: 72px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: start;
  }
  .social-title {
    margin-bottom: 0;
  }
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__item {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 30px;
  margin-top: 30px;
}

.projects__item:focus, .projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}

.projects__name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projects__list-wraper {
  overflow: hidden;
  position: relative;
}

.projects__overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  transform: translateY(100%);
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__list-content-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects__link:focus .projects__overlay,
.projects__link:hover .projects__overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */