.adress {
  font-style: normal;
  margin-top: 20px;

  &__name {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white);
    margin-bottom: 9px;
  }

  &__mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-bottom: 9px;
  }

  &__phone-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
  }
}
