.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  &_header {
    color: var(--color-balck);
  }

  &_footer {
    color: var(--color-white);
  }
}

@media screen and(max-width:1199px) {
  .logo{
    font-weight: 700;
font-size: 24px;
line-height: 1.16;
text-align: center;
  }
}